<!--Doctype= ist ein Tag, html= ist ein attribute-->
<!DOCTYPE html>
<!--lang="de": ist das Wert von dem Attribute-->
<html lang="de">
<head>
    <title>Primitive Html Css Layout with Pretty Background 🎨</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

<div class="container">
    <div class="item head">Header</div>
    <div class="item nav">NavBar</div>
    <div class="item body">Beautiful Gradient Color</div>
    <div class="item smL">Side Nav Menu L</div>
    <div class="item smR">Side Nav Menu R</div>
    <div class="item fu">Footer</div>
</div>

</body>
</html>